// Header----------------------------------

.Movie-header {
    z-index: 99;
    position:fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.242);background-color: rgba(0, 0, 0, 0.242);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3.5rem;
    transition: background-color .7s;
}

.backgroud-change {
    background-color: rgb(20, 20, 20);
}

.header-right-section {
    display: flex;
    gap: 3rem;

    & .logo {
        width: 6rem;
        color: red;
        fill: red;
    }
}

.header-left-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #FFFF;

    & .user-pic {
        display: flex;
        gap: .2rem;
        align-items: center;
        cursor: pointer;
    }

    & .user-pic>img {
        border-radius: .45rem;
        width: 2.2rem;
        height: 2.2rem;
    }

    & .notifications, .kids , .search {
        cursor: pointer;
    }
}

.Movie-Navigation {
    display: flex;
    & .Navigation-List {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: .9rem;
    }

    & .Navigation-List>.Navitation-List-item{
        list-style: none;
        text-decoration: none;
    }
}

.Navitation-List-item {
    color: rgba(247, 251, 255, 0.925);
    transition: color .3s;
    &:hover {
        cursor: pointer;
        color: #CCCC;
    }
}

// Final Header----------------------------




// Footer---------------------------------

.Main-Footer {
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    color: #737373;
    gap: 1rem;
    font-size: small;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.footer-item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-bottom: 1rem;
    &>a {
        color: #737373;
    }
}

.footer-icons {
    display: flex;
    gap: 1rem;
    & >svg {
        color: #FFFF;
        cursor: pointer;
    }
}

.footer-code-services {
    border: 1px solid #737373;
    padding: 0.2rem .7rem;
}

// Final Footer---------------------------