@import '../config/config';

.content {
    width: 70%; /* Ancho deseado para el div */
    text-align: center; /* Alinea el contenido del div al centro */
    padding: 3em 0px; /* Espaciado interior opcional */
}