@import '../config/config';

footer {
    background-color: $footer-suscribe;
    width: 199.3vh;
    height: 52vh;

    .preguntas {
        padding-left: 6em;
        font-size: 13px;
    }

    .preguntas, .more {
        color: $footer-text-suscribe;

        .more {
            transition: 5s all ease-in;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .flex, .flex2 {
        display: flex;
        gap: 1em;
        margin-top: 1em;
        margin-left: 1.7em;

        .more {
            font-size: 13px;
        }
    }

    select {
        padding: 12px 30px;
        font-size: 20px;
        margin-left: 6.5em;
        margin-top: 1em;
        border: 1px solid $footer-text-suscribe;
        border-radius: 2px;
    }
}