@import '../config/config';
@import '../mixins/responsive';

footer {
    background-color: $footer-suscribe;
    width: 100%;
    padding: 2.5rem 4.2rem;
    .preguntas {
        font-size: 1.1rem;
    }

    .preguntas, .more {
        color: $footer-text-suscribe;

        .more {
            transition: .5s all ease-in;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .flex {
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @include rwd(l) {
            gap: 8rem;
            flex-direction: row;
            justify-content: flex-start;
        }

        .more {
            font-size: 13px;
        }
    }

    select {
        display: none;
        @include rwd(l) {
            display: block;
        }
        padding: 12px 30px;
        font-size: 20px;
        margin-left: 6.5em;
        margin-top: 1em;
        border: 1px solid $footer-text-suscribe;
        border-radius: 2px;
    }
}