@import '../config/config';
@import '../mixins/responsive';

.banner-Sigup {
    width: 100%;
    text-align: center; 
    padding: 3em 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        margin-top: 3.3em;
        padding-bottom: 1.2em;
    }
    span {
        font-size: 13px;
    }
}

.banner-content {
    margin-top: -2em;
    padding-bottom: 2em;
    margin-left: -32em;

    img {
        object-fit: contain;
    }

    .text {
        display: flex;
        padding-bottom: 1em;
        margin-left: -1em;

        p {
            padding-bottom: 7px;
            font-size: 1.2em;
            width: 14em;
            padding-left: 1em;
        }
    }
}

.next {
    padding: .5rem 2.3rem;
    @include rwd(l) {
        padding: .6rem 5.3rem;
    }
    background-color: $color-button;
    color: $color-text2;
    font-size: 24px;
    line-height: 24px;
    border-radius: 4px;
    margin-top: 2em;

    &:hover {
        background-color: $hover-button;
    }
}    