*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  border: none;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  border: none;
}

svg {
  width: 10.4em;
  height: 10.4em;
  margin-top: -2.3em;
  margin-left: 2.5em;
  object-fit: cover;
}

body {
  background-image: url("../../assets/img/Background-Login.jpg");
  background-repeat: none;
}

form {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 30em;
  padding: 4em 2.3em;
  margin-left: 26em;
  padding-bottom: 9em;
}
form h1 {
  color: #FFFFFF;
  margin-left: 1em;
  margin-top: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
form #input {
  padding: 1em 7em;
  opacity: 0.5;
  border: none;
  background-color: #C3C3C3;
  border-radius: 4px;
  margin-left: 2.4em;
  margin-top: 2em;
}
form #input:focus {
  background-color: #C3C3C3;
  border: none;
}
form #submit {
  margin-top: 2.2em;
  background-color: #FF0000;
  color: #FFFFFF;
  font-size: 1em;
  padding: 0.8em 7.4em;
  opacity: 0.5;
  border-radius: 4px;
  margin-left: 2.4em;
  margin-top: 2em;
  cursor: pointer;
}
form #submit:hover {
  background-color: #d20c0c;
}

.RememberMe {
  display: flex;
  color: #C3C3C3;
  border: none;
  margin-left: 2.5em;
  margin-top: 1em;
}
.RememberMe #remember {
  margin-left: 7px;
}
.RememberMe span {
  font-size: 13px;
}
.RememberMe .help {
  margin-left: 6.4em;
}
.RememberMe .help:hover {
  text-decoration: underline;
  cursor: pointer;
}

.firstTime {
  display: flex;
  gap: 1.2em;
  margin-top: 1em;
  margin-left: 3.3em;
}
.firstTime span, .firstTime p {
  color: #FFFFFF;
  font-size: 15px;
}
.firstTime span {
  font-size: 16px;
  color: #737373;
}
.firstTime p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reCAPTCHA {
  color: #6c8c7b;
  font-size: 12px;
  margin-top: 2em;
  width: 25em;
  margin-left: 4em;
}
.reCAPTCHA a {
  color: #0352EB;
}
.reCAPTCHA a:hover {
  text-decoration: underline;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  border: none;
}

footer {
  margin-top: 3.5em;
  padding: 2em 0px 0px 0px;
  width: 100%;
}
footer span {
  color: #FFFFFF;
  display: flex;
  margin-left: 10em;
}
footer span p {
  margin-left: 4px;
}
footer span p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.log_in {
  display: flex;
  border-bottom: 1px solid #E6E6E6;
  height: 90px;
}
.log_in asvg {
  padding-left: 1em;
}
.log_in .start {
  padding-left: 50em;
  font-weight: bold;
  color: #333333;
  font-size: 19px;
  font-weight: bold;
  line-height: 90px;
}

footer {
  background-color: #F3F3F3;
  width: 199.3vh;
  height: 52vh;
}
footer .preguntas {
  padding-left: 6em;
  font-size: 13px;
}
footer .preguntas, footer .more {
  color: #737373;
}
footer .preguntas .more, footer .more .more {
  transition: 5s all ease-in;
}
footer .preguntas .more:hover, footer .more .more:hover {
  text-decoration: underline;
}
footer .flex, footer .flex2 {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  margin-left: 1.7em;
}
footer .flex .more, footer .flex2 .more {
  font-size: 13px;
}
footer select {
  padding: 12px 30px;
  font-size: 20px;
  margin-left: 6.5em;
  margin-top: 1em;
  border: 1px solid #737373;
  border-radius: 2px;
}

.banner-Sigup {
  width: 70%; /* Ancho deseado para el div */
  text-align: center; /* Alinea el contenido del div al centro */
  padding: 3em 0px; /* Espaciado interior opcional */
}
.banner-Sigup img {
  margin-top: 3.3em;
  margin-left: 22.6em;
  padding-bottom: 1.2em;
}
.banner-Sigup span {
  font-size: 13px;
  margin-left: -6.4em;
}
.banner-Sigup h1 {
  margin-left: 10.7em;
}

.banner-content {
  margin-top: -2em;
  padding-bottom: 2em;
  margin-left: -32em;
}
.banner-content img {
  object-fit: contain;
}
.banner-content .text {
  display: flex;
  padding-bottom: 1em;
  margin-left: 30em;
}
.banner-content .text p {
  padding-bottom: 7px;
  font-size: 1.2em;
  width: 14em;
  padding-left: 1em;
}

.next {
  padding: 0.6em 5.3em;
  background-color: #e50914;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  border-radius: 4px;
  margin-left: 19em;
  margin-top: 2em;
}
.next:hover {
  background-color: #d20c0c;
}

.header-menu {
  padding: 0 7.3rem;
  background-color: transparent;
  width: 100%;
  display: flex;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}
.header-content .logo {
  width: 9rem;
  color: red;
  fill: red;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
}

.Primary-button {
  color: white;
  background-color: #ff0000;
  justify-content: center;
  border-radius: 0.6em;
  padding: 0.5rem 1.5rem;
}

.lenguaje-selector {
  background-color: transparent;
  padding: 0.3rem 1.5rem;
  color: white;
  border-radius: 0.4rem;
  border: 0.1rem solid rgba(204, 204, 204, 0.8);
}
.lenguaje-selector option {
  color: black;
}

.banner-container {
  position: relative;
}

.banner-background {
  position: absolute;
  width: 100%;
  height: 44rem;
  top: 0;
  left: 0;
  background-image: url("/src/assets/img/principal-background.jpg");
  background-size: cover;
  z-index: -99;
  opacity: 1;
  filter: brightness(0.4);
}

.banner-container {
  width: 100%;
  height: 25rem;
  margin-top: 4rem;
  margin-bottom: 6.6rem;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 6rem;
}
.banner-content h1 {
  font-size: 3.3em;
}
.banner-content h3 {
  font-weight: 400;
  font-size: x-large;
}
.banner-content p {
  font-size: x-large;
}

.banner-inputs-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.banner-inputs-container input {
  width: 25rem;
  height: 3rem;
  border-radius: 0.3rem;
  padding: 0 1rem;
  font-size: large;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(195, 194, 194, 0.7764705882);
}

.extralarge {
  font-size: x-large;
  font-weight: 600;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
}

.enjoy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 38rem;
}

.enjoy-content {
  height: 98%;
  width: 100%;
  padding: 1rem 10rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.right-content {
  padding: 0.1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-content h1 {
  font-size: 3em;
}
.right-content p {
  font-size: x-large;
}

.left-content-inverted {
  padding: 0.1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left-content-inverted h1 {
  font-size: 3em;
}
.left-content-inverted p {
  font-size: x-large;
}

.questions-container {
  background-color: black;
  width: 100%;
  padding: 3rem 11rem;
}

.question-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-bottom: 3rem;
}

.question {
  background-color: #2D2D2D;
  font-size: x-large;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  height: 5rem;
  transition: background-color 0.2s;
}
.question svg {
  width: 3rem;
}
.question:hover {
  cursor: pointer;
  background-color: #434343;
}

.question-dropdown {
  display: none;
  background-color: #2D2D2D;
  font-size: x-large;
  color: white;
  padding: 2rem;
}

.show {
  display: block;
}

.MainFooter {
  border-top: 3px solid #2D2D2D;
  margin-top: 0;
  padding: 4rem 10rem;
  width: 100%;
  height: auto;
  color: #CCC;
  background-color: #000;
}

.main-footer-container {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.main-footer-container .footer-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-footer-container .footer-item a {
  color: #9c9c9c;
  text-decoration: underline;
}

section {
  background-color: #141414;
  box-shadow: 0px 36px 65px 4px rgba(18, 18, 18, 0.7490196078) inset;
  width: 100vw;
  height: 100vh;
}
section .list-Profile {
  width: 100%; /* Ancho deseado para el div */
  text-align: center; /* Alinea el contenido del div al centro */
  padding: 3em 0px; /* Espaciado interior opcional */
  padding-top: 9em;
}
section .list-Profile h1 {
  font-size: 46px;
  line-height: 55px;
  color: #fff;
}
section .Accounts {
  display: flex;
  gap: 1.7em;
  margin-left: 16em;
  margin-top: 2em;
}
section .Accounts .user {
  cursor: pointer;
}
section .Accounts .user a img {
  color: #fff;
  object-fit: cover;
  width: 8.8em;
  height: 8.8em;
  border-radius: 7px;
  transition: 2s all ease-in-out;
}
section .Accounts .user a img:hover {
  border: 1.2px solid #fff;
}
section .Accounts span {
  position: absolute;
  color: #515151;
  line-height: 21px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 9em;
  margin-left: -5.5em;
  cursor: pointer;
}
section .Accounts svg {
  position: absolute;
  margin-top: 12em;
  margin-left: -5.2em;
  height: 20px;
  width: 20px;
}
section .Accounts .dev {
  position: absolute;
  color: #515151;
  line-height: 21px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 9em;
  margin-left: -6.6em;
  cursor: pointer;
}
section .Admin-Perfile {
  position: absolute;
  border: 1px solid #515151;
  padding: 7px 21px;
  color: #515151;
  margin-left: 35.5em;
  margin-top: 4.1em;
}
section .Admin-Perfile:hover {
  border: 1px solid #fff;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
