$netflix-red: #FF0000;
$netflix-black: #000000;
$netflix-white: #FFFFFF;
$netflix-gray: #808080;
$text: 'Nunito', sans-serif;
$backgrond-input: #C3C3C3;
$input-Focus: #80808080;
$backgroun-form: rgba(0, 0, 0, 0.9);
$text-log: #737373;
$hover-button: #d20c0c;
$color-text1: #333333;
$color-text2: #fff;
$color-button: #e50914;
$footer-suscribe: #F3F3F3;
$footer-text-suscribe: #737373;
$backgroun-User: #141414;
$text-Account: #515151;
$backgroundMovies: #141414;
$breakpoints: (
    m:480px,
    t:720px,
    l:960px
);